.feedback {
	margin-top: 50px;

	.row {
		@include clearfix;

		.feed {
			position: relative;
			height: 474px;
			background-size: cover;

			a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				
				&:before {
					content: " ";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: black;
					opacity: 0;
					transition: 0.3s ease all;
				}


				&:hover {
					&:before {
						opacity: 0.2;
					}
				}

				.description {
					position: absolute;
					width: 300px;
					left: 20px;
					bottom: 25px;
					padding: 30px;
					background-color: white;
					
					.primary {
						font-family: $font-bebas-regular;
						font-size: 27px;
						display: block;
						letter-spacing: 2px;
					}

					font-family: $font-bebas-book;
					font-size: 23px;
					letter-spacing: 1.3px;
				}

			}

			&.first {
				width: 58%;
				margin-right: 2%;
				float: left;
			}

			&.second {
				width: 40%;
				margin-left: 60%;
			}
		}
	}

	.form {
		.right {
		    width: 310px;
		    float: right;
		    position: relative;
		}

		.left {
		    float: none;
		    width: auto;
		    overflow: hidden;
		    position: relative;
		}

		margin-top: 84px;
		h3 {
			text-align: center;
			font-family: $font-bebas-regular;
			font-weight: 300;
			font-size: 24px;
			letter-spacing: 4px;
			color: $form-title;
		}

		input {
			width: 95%;
			outline: none;
		}

		.button {
			height: 71px;
			width: 100%;
			border: none;
			background-color: $tag-separate;
			font-family: $font-bebas-regular;
			font-size: 24px;
			letter-spacing: 2px;
			color: white;
			cursor: pointer;

			&:hover {
				background-color: $sidebar-bg;
			}
		}
	}
}