.tags {
	margin-top: 100px;
	border: 3px solid $sidebar-bg;
	position: relative;

	.title {
		position: absolute;
		width: 100%;
		top: -25px;
		text-align: center;

		span {
			display: inline;
			padding: 0 25px;
			font-family: $font-bebas-regular;
			letter-spacing: 4.67px;
			color: $sidebar-bg;
			font-size: 42px;
			background-color: white;
		}
	}

	.separate-title {
		height: 75px;
		background-color: $tag-separate;
		color: white;
		text-align: right;
		position: relative;
		border-right: 160px solid white;

		span {
			line-height: 75px;
			padding-right: 20px;
			font-family: $font-bebas-book;
			font-size: 36px;
			letter-spacing: 4px;
		}

		&:before {
			content: " ";
			position: absolute;
			height: 75px;
			left: 0;
			width: 90px;
			background-color: $sidebar-bg;
			border-right: 20px solid white;
		}
	}

	.row {
		padding: 25px;
		@include clearfix;

		.tag {
			background-size: cover;
			background-position: center;
			height: 542px;
			position: relative;

			a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				
				&:before {
					content: " ";
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					background-color: black;
					opacity: 0;
					transition: 0.3s ease all;
				}


				&:hover {
					&:before {
						opacity: 0.2;
					}
				}

				.description {
					position: absolute;
					width: 235px;
					left: 20px;
					bottom: 25px;
					padding: 30px;
					
					.primary {
						font-family: $font-bebas-regular;
						font-size: 27px;
						display: block;
						letter-spacing: 2px;
					}

					font-family: $font-bebas-book;
					font-size: 23px;
					letter-spacing: 1.3px;
				}
			}

			&.first {
				width: $first-tag-width;
				float: left;

				.description {
					background-color: white;
				}
			}

			&.second {
				margin-left: $second-tag-margin;

				.description {
					color: white;
					background-color: $sidebar-bg;
				}
			}

		}

		.item {
			height: 355px;
			float: left;
			width: 23%;
			margin-right: 2%;
			background-size: cover;
			position: relative;

			&:before {
				content: " ";
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-color: black;
				opacity: 0;
				transition: 0.3s ease all;
			}


			&:hover {
				color: white;
				&:before {
					opacity: 0.2;
				}
			}
		}

	}

	.button {
		display: block;
		width: 535px;
		margin: 25px auto;
		text-align: center;
		font-family: $font-bebas-book;
		font-size: 30px;
		letter-spacing: 4px;
	}
}